.header {
    width: 600px;
    margin: 0 auto;
    padding: 0;
}

.header img {
    width: 100px;
}

.checkboxList {
    border: 1px solid #d9d9d9;
    display: inline-block;
}

p {
    margin: 0;
}

h3 {
    margin: 8px 10px;
}

ul,
li {
    margin: 5px;
}