.cart-main {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2.2rem;
}
.cart-main .cart-list {
  width: 100%;
  height: 2.2rem;
  background-color: #fff;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  margin-top: 0.1rem;
}
.cart-main .cart-list .select-btn {
  width: 0.4rem;
  height: 0.4rem;
  border: 1px solid #efefef;
  border-radius: 100%;
  margin-left: 0.2rem;
  margin-right: 0.3rem;
}
.cart-main .cart-list .select-btn.active {
  background-image: url("../../../images/home/cart/checkmark.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.cart-main .cart-list .image-wrap {
  width: 1.2rem;
  margin-right: 0.3rem;
}
.cart-main .cart-list .image-wrap .image {
  width: 100%;
  height: 1.2rem;
}
.cart-main .cart-list .image-wrap .image img {
  width: 100%;
  height: 100%;
}
.cart-main .cart-list .image-wrap .del {
  font-size: 0.24rem;
  text-align: center;
  width: 100%;
  color: #bb55bb;
  margin-top: 0.2rem;
}
.cart-main .cart-list .goods-wrap {
  width: 64%;
  font-size: 0.24rem;
}
.cart-main .cart-list .goods-wrap .goods-title {
  width: 100%;
}
.cart-main .cart-list .goods-wrap .goods-attr {
  width: 100%;
  margin-top: 0.1rem;
}
.cart-main .cart-list .goods-wrap .goods-attr span {
  padding-right: 0.3rem;
}
.cart-main .cart-list .goods-wrap .buy-wrap {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}
.cart-main .cart-list .goods-wrap .buy-wrap .goods-price {
  font-size: 0.28rem;
  color: #cc0004;
  margin-top: 0.2rem;
}
.cart-main .cart-list .goods-wrap .buy-wrap .amount-wrap {
  width: auto;
  padding-left: 0.2rem;
  padding-top: 0.2rem;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  height: 0.64rem;
  background-color: #fff;
}
.cart-main .cart-list .goods-wrap .buy-wrap .amount-wrap .amount-name {
  width: auto;
  font-size: 0.32rem;
}
.cart-main .cart-list .goods-wrap .buy-wrap .amount-wrap .amount-input-wrap {
  width: 2.04rem;
  height: 0.5rem;
  border: 1px solid #000;
  margin-right: 0.2rem;
  border-radius: 0.08rem;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cart-main .cart-list .goods-wrap .buy-wrap .amount-wrap .amount-input-wrap .btn {
  width: 0.6rem;
  height: 0.4rem;
  font-size: 0.32rem;
  text-align: center;
  line-height: 0.4rem;
}
.cart-main .cart-list .goods-wrap .buy-wrap .amount-wrap .amount-input-wrap .btn.active {
  color: #ccc;
}
.cart-main .cart-list .goods-wrap .buy-wrap .amount-wrap .amount-input-wrap .dec {
  border-right: 1px solid #000;
}
.cart-main .cart-list .goods-wrap .buy-wrap .amount-wrap .amount-input-wrap .inc {
  border-left: 1px solid #000;
}
.cart-main .cart-list .goods-wrap .buy-wrap .amount-wrap .amount-input-wrap .amount-input {
  width: 0.76rem;
  height: 100%;
}
.cart-main .cart-list .goods-wrap .buy-wrap .amount-wrap .amount-input-wrap .amount-input input {
  width: 100%;
  height: 100%;
  text-align: center;
}
.orderend-wrap {
  width: 100%;
  height: 1rem;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 1.21rem;
  border-top: 1px solid #efefef;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.orderend-wrap .select-area {
  width: auto;
  height: 100%;
  flex: 7;
  -webkit-flex: 7;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.orderend-wrap .select-area .select-wrap {
  width: auto;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.orderend-wrap .select-area .select-wrap .select-btn {
  width: 0.4rem;
  height: 0.4rem;
  border: 1px solid #efefef;
  border-radius: 100%;
  margin-left: 0.2rem;
  margin-right: 0.1rem;
}
.orderend-wrap .select-area .select-wrap .select-btn.active {
  background-image: url("../../../images/home/cart/checkmark.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.orderend-wrap .select-area .select-wrap .select-text {
  font-size: 0.24rem;
}
.orderend-wrap .select-area .total {
  font-size: 0.24rem;
  margin-right: 0.1rem;
}
.orderend-wrap .select-area .total span {
  color: #cc000c;
}
.orderend-wrap .orderend-btn {
  width: auto;
  height: 100%;
  flex: 3;
  -webkit-flex: 3;
  background-color: #cc000c;
  font-size: 0.32rem;
  color: #fff;
  text-align: center;
  line-height: 1rem;
}
