body {
    background-color: #fff;
}

.page {
    width: 100%;
    height: auto;
    background-color: #fff;
    overflow: hidden;
}

.search-top {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    background-color: #fff;
}

.search-header {
    width: 100%;
    height: 0.8rem;
    border-bottom: 1px solid #efefef;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
}

.search-header .back {
    width: 0.8rem;
    height: 0.8rem;
    background-image: url('../../../images/home/goods/back.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.search-header .search-wrap {
    width: 75%;
    height: 80%;
    border-radius: 3px;
    background-color: #eaeaea;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}

.search-header .search-wrap .search-icon {
    width: 0.5rem;
    height: 0.5rem;
    background-image: url('../../../images/common/search.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0.1rem;
    margin-right: 0.2rem;
}

.search-header .search-wrap .search {
    width: 90%;
    height: auto;
    font-size: 0.32rem;
}

.search-header .search-btn {
    width: auto;
    height: auto;
    font-size: 0.32rem;
    margin-right: 0.1rem;
}

.search-top .order-main {
    width: 100%;
    height: 0.8rem;
    border: 1px solid #efefef;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}

.search-top .order-main .order-item {
    width: auto;
    height: auto;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    margin-left: 0.4rem;
    position: relative;
    z-index: 1;
}

.search-top .order-main .order-item.active .order-icon {
    background-image: url('../../../images/home/goods/up.png');
}

.search-top .order-main .order-item .order-text {
    font-size: 0.32rem;
}

.search-top .order-main .order-item.active .order-text {
    color: #fda208;
}

.search-top .order-main .order-item .order-icon {
    width: 0.35rem;
    height: 0.35rem;
    background-image: url('../../../images/home/goods/down.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0.1rem;
}

.search-top .order-main .order-item .order-menu {
    width: 688%;
    height: auto;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    top: 0.63rem;
    left: -35%;
}

.search-top .order-main .order-item .order-menu li {
    width: 95%;
    height: 0.8rem;
    border-bottom: 1px solid #efefef;
    font-size: 0.28rem;
    line-height: 0.8rem;
    padding-left: 0.4rem;
}

.search-top .order-main .order-item .order-menu li.active {
    color: #fda208;
}

.goods-main {
    width: 100%;
    height: auto;
    margin-top: 2rem;
}

.goods-main .goods-list {
    width: 100%;
    height: 2rem;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    overflow: hidden;
    margin-bottom: 0.4rem;
}

.goods-main .goods-list .image {
    width: 2rem;
    height: 2rem;
    margin-left: 0.1rem;
}

.goods-main .goods-list .image img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.goods-main .goods-list .goods-content {
    width: 67%;
    height: 98%;
    border-bottom: 1px solid #ccc;
}

.goods-main .goods-list .goods-title {
    width: 95%;
    height: 0.8rem;
    font-size: 0.28rem;
    overflow: hidden;
}

.goods-main .goods-list .goods-price {
    font-size: 0.32rem;
    color: #f93036;
    margin-top: 0.1rem;
}

.goods-main .goods-list .goods-sales {
    font-size: 0.24rem;
    color: #969696;
    margin-top: 0.1rem;
}

.goods-main .goods-list .goods-sales span {
    color: #fda208;
}

.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.screen {
    width: 80%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: #fff;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.screen.move {
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.screen.unmove {
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.screen .attr-wrap {
    width: 100%;
}

.screen .attr-wrap .attr-tittle-wrap {
    width: 94%;
    height: 0.8rem;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.screen .attr-wrap .attr-tittle-wrap .attr-name {
    font-size: 0.32rem;
}

.screen .attr-wrap .attr-tittle-wrap .price-wrap {
    width: auto;
    height: 100%;
}

.screen .attr-wrap .attr-tittle-wrap .attr-icon {
    width: 0.4rem;
    height: 0.4rem;
    background-image: url('../../../images/home/goods/down.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.screen .attr-wrap .attr-tittle-wrap .attr-icon.up {
    background-image: url('../../../images/home/goods/up.png');
}

.screen .attr-wrap .attr-tittle-wrap .price-wrap {
    width: auto;
    height: auto;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    margin-left: 18%;
}

.screen .attr-wrap .attr-tittle-wrap .price-wrap .price-input {
    width: 1rem;
    height: 0.44rem;
    border: 1px solid #efefef;
}

.screen .attr-wrap .attr-tittle-wrap .price-wrap .price-input input {
    width: 100%;
    height: 89%;
    font-size: 0.28rem;
}

.screen .attr-wrap .attr-tittle-wrap .price-wrap .price-line {
    width: 0.4rem;
    height: 1px;
    background-color: #efefef;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.screen .attr-wrap .item-wrap {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.screen .attr-wrap .item-wrap .item {
    width: 30%;
    height: 0.64rem;
    background-color: #efefef;
    text-align: center;
    line-height: 0.64rem;
    overflow: hidden;
    font-size: 0.28rem;
    border-radius: 0.1rem;
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom: 0.2rem;
}

.screen .attr-wrap .item-wrap .item.active {
    color: #fff;
    background-color: #fda208;
}

.screen .handle-wrap {
    width: 100%;
    height: 1rem;
    background-color: #fff;
    border-top: 1px solid #efefef;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    display: flex;
    display: -webkit-flex;
}

.screen .handle-wrap .item {
    width: auto;
    height: 100%;
    font-size: 0.28rem;
    text-align: center;
    line-height: 1rem;
    flex: 1;
    -webkit-flex: 1;
}

.screen .handle-wrap .item span {
    color: #fda208;
}

.screen .handle-wrap .item.reset {
    background-color: #efefef;
}

.screen .handle-wrap .item.sure {
    background-color: #fda208;
    color: #fff;
}