.page {
    width: 100%;
    height: auto;
}

.search-top {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    background-color: #fff;
}

.search-header {
    width: 100%;
    height: 0.8rem;
    border-bottom: 1px solid #efefef;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
}

.search-header .back {
    width: 0.8rem;
    height: 0.8rem;
    background-image: url('../../../images/home/goods/back.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.search-header .search-wrap {
    width: 75%;
    height: 80%;
    border-radius: 3px;
    background-color: #eaeaea;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}

.search-header .search-wrap .search-icon {
    width: 0.5rem;
    height: 0.5rem;
    background-image: url('../../../images/common/search.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0.1rem;
    margin-right: 0.2rem;
}

.search-header .search-wrap .search {
    width: 90%;
    height: auto;
    font-size: 0.32rem;
}

.search-header .search-btn {
    width: auto;
    height: auto;
    font-size: 0.32rem;
    margin-right: 0.1rem;
}

.search-top .order-main {
    width: 100%;
    height: 0.8rem;
    border: 1px solid #efefef;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}

.search-top .order-main .order-item {
    width: auto;
    height: auto;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    margin-left: 0.4rem;
    position: relative;
    z-index: 1;
}

.search-top .order-main .order-item .order-text {
    font-size: 0.32rem;
}

.search-top .order-main .order-item .order-text.active {
    color: #fda208;
}

.search-top .order-main .order-item .order-icon {
    width: 0.35rem;
    height: 0.35rem;
    background-image: url('../../../images/home/goods/down.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0.1rem;
}

.search-top .order-main .order-item .order-icon.up {
    background-image: url('../../../images/home/goods/up.png');
}

.search-top .order-main .order-item .order-menu {
    width: 688%;
    height: auto;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    top: 0.63rem;
    left: -35%;
}

.search-top .order-main .order-item .order-menu li {
    width: 95%;
    height: 0.8rem;
    border-bottom: 1px solid #efefef;
    font-size: 0.28rem;
    line-height: 0.8rem;
    padding-left: 0.4rem;
}

.search-top .order-main .order-item .order-menu li.active {
    color: #fda208;
}

.goods-main {
    width: 100%;
    height: auto;
    margin-top: 1.65rem;
}

.goods-main .goods-list {
    width: 100%;
    height: 2rem;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    overflow: hidden;
}

.goods-main .goods-list .image {
    width: 2rem;
    height: 2rem;
    margin-left: 0.1rem;
}

.goods-main .goods-list .image img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.goods-main .goods-list .goods-content {
    width: 67%;
    height: 98%;
    border-bottom: 1px solid #ccc;
}

.goods-main .goods-list .goods-title {
    width: 95%;
    height: 0.8rem;
    font-size: 0.28rem;
    overflow: hidden;
}

.goods-main .goods-list .goods-price {
    font-size: 0.32rem;
    color: #f93036;
    margin-top: 0.1rem;
}

.goods-main .goods-list .goods-sales {
    font-size: 0.24rem;
    color: #969696;
    margin-top: 0.1rem;
}

.goods-main .goods-list .goods-sales span {
    color: #fda208;
}